.wrapperMain{
    background-image: url("../../public/assets/menu_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }
  .wrapperMenu{
    width: 40%;
    padding: 20px 20px;
  }
  .wrapperGameList{
      width: 80%;
  }

  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e0e0e0;
    width: 100%;
    padding: 40px 20px;
    height: 100%;
  }
  .menuItem {
    margin: 10px 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #aaa;
    border: none;
    width: 60%;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.menuItem:hover {
    background-color: #7a7976
}
.MenuSlider{
  width: 100%;
  background-color: #e0e0e0;
  padding: 20px 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}
.MenuSlider .icon:active{
  transform: scale(0.90) translate(0%, -50%);
  transform-origin: center; 
}
.MenuSlider .iconLeft, .MenuSlider .iconRight
{
  transform-origin: center; 
  transition: all .3s ease-out;
  background: #fff;
  position: absolute;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0 3px 9px rgba(0,0,0,0.32);
}
.MenuSlider .iconLeft{
  left: 40px
}
.MenuSlider .iconRight{
  right: 40px
}

.MenuSlider .menuCarousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100%/3) - 11px);
  padding: 0;
  box-sizing: border-box; 
  gap: 16px;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0;
}
.MenuSlider .menuCarousel.noTransition{
  scroll-behavior: auto;
}
.menuCarousel .card{
  scroll-snap-align: start;
  user-select: none;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.cardPhoto{
  height: 200px;
  width: 100%;
  background: #8B53FF;
  border-radius: 8px 8px 0 0;
}
.cardPhoto img{
  pointer-events: none;
  width: 100%;
  box-sizing: border-box; 
  height: 200px;
  padding-bottom: 3px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  object-position: center;

}
.gamePage{
  justify-items: stretch;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  width: 100%;
  z-index: 100;
  min-height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 7fr 2.5fr 0.5fr;
  grid-template-rows: 1fr 8fr 1fr;

  
}
.gameBoard{
  grid-column: 2;
  grid-row: 2;
}

.quizBoard{
  justify-items: stretch;
  grid-column: 3;
  grid-row: 2;
  background-color: aliceblue;
}



@media only screen and (max-width: 1100px)
{
  
   .MenuSlider .menuCarousel{
    grid-auto-columns: calc((100%/2) - 9px);
   }


}

@media only screen and (max-width: 1300px)
{
  .wrapperMenu{
    width: 60%
   }
}
@media only screen and (max-width: 700px)
{
  .wrapperMenu{
    width: 90%
  }
  .menuItem {
    font-size: 14px;
    width: 80%;
  }
  .MenuSlider .menuCarousel{
    grid-auto-columns: calc(100%);
  }

}
@media only screen and (max-width: 900px)
{
  .wrapperGameList{
    width: 90%;
   }
}
@media only screen and (max-width: 450px)
{
  .wrapperGameList{
    width: 90%;
   }
   .MenuSlider{
    padding: 20px 20px;
  }
  .MenuSlider .iconLeft{
    left: 10px
  }
  .MenuSlider .iconRight{
    right: 10px
  }
}
@media only screen and (max-width: 1000px)
{
  
  .gamePage{
    min-height: 100%;
    grid-template-columns: 0.5fr 9.5fr 0.5fr;
    grid-template-rows: 50px auto auto 50px;
  }
  .quizBoard{
    grid-column: 2;
    grid-row: 3;
    background-color: aliceblue;
  }
  .gameBoard{
    min-height: 400px;
    grid-column: 2;
    grid-row: 2;
  }
  .wrapperMain{
    flex-shrink: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
}